* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #085c00;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#question {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

#answer {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  margin-bottom: 30px;
}

#nextBtn {
  width: 100%;
  padding: 30px;
  font-size: 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
}
